.button-add {
    cursor: pointer;
    height: 2.5em;
    width: 12em;
    background-color: #40EB5D;
    border: none;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.1s linear;
    font-weight: bold;
  }
  
.button-add:hover {
    background-color: rgb(13, 197, 0);
    transition: background-color 0.1s linear;
}

.button-edit {
  cursor: pointer;
  height: 2.5em;
  width: 12em;
  background-color: #FFF317;
  border: none;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.1s linear;
  font-weight: bold;
}

.button-edit:hover {
  background-color: #cfc505;
  transition: background-color 0.1s linear;
}

.button-back {
  cursor: pointer;
  height: 2.5em;
  width: 12em;
  background-color: #f2e5e5b1;
  border: none;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.1s linear;
  font-weight: bold;
}

.button-back:hover {
  background-color: #8e8383;
  transition: background-color 0.1s linear;
}

