.create-trip-name-title,
.create-trip-description-title,
.create-trip-startdate-title {
    padding-top: 30px;
    flex-grow: 1;
    margin: 0 auto;
    text-align: center;
    font-size: 3em;
    padding-right: 16px;
    transition: background-color 0.3s;
}

.StartDate-Input{
    border-radius: 8px;
    border: 1px solid #ccc;
    resize: none;
    box-sizing: border-box;
    font-size: 2em;
    align-items: center;
}

.save-cancel-button-container {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
}

.create-description-container{
    height: 260px;
    gap: 15px;
}

.create-title-container{
    height: 50px;
    gap: 15px;
}

.startdate-container{
    height: 110px;
    gap: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
  