.description-default textarea{
  width: 100%;
  max-width: 400px;
  height: 150px;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #ccc;
  resize: none;
  box-sizing: border-box;
}

.description-title textarea{
    height: 2.5em;
    width: 38em;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #ccc;
  resize: none;
  box-sizing: border-box;
}
