.description-default textarea{
  width: 100%;
  max-width: 400px;
  height: 150px;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #ccc;
  resize: none;
  box-sizing: border-box;
}

.description-title textarea{
  width: 100%;
  max-width: none;
  min-width: 735px;
  height: 60px;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #ccc;
  resize: none;
  box-sizing: border-box;
  font-size: 1.5em;
}

.description-Edit textarea{
  width: 100%;
  max-width: none;
  min-width: 1100px;
  height: 220px;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #ccc;
  resize: none;
  box-sizing: border-box;
  font-size: 1.5em;
}

.description-title .charCounter,
.description-Edit .charCounter{
  color: #e58e0c;
  font-weight: bold;
}

.edit-title-container,
.edit-description-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px auto;
  padding: 10px;
  width: 100%;
  max-width: 100%;
}