.description-default textarea{
  width: 100%;
  max-width: 400px;
  height: 150px;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #ccc;
  resize: none;
  box-sizing: border-box;
}

.description-title textarea{
    height: 2.5em;
    width: 38em;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #ccc;
  resize: none;
  box-sizing: border-box;
}

/* Flex Container to hold the lat and long elements in a row */
.form-row {
  display: flex;
  gap: 15px; /* Space between the elements */
  align-items: center;
  text-align: center;
}

/* Latitude and Longitude textareas */
.description-geolocation textarea{
  height: 2em;
  width: 10em;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
  resize: none;
  box-sizing: border-box;
}

