.experience-tile {
    display: flex; /* Use flexbox for horizontal layout */
    align-items: center; /* Vertically center items */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    padding-left: 25px;
    padding-right:25px;
}

.experience-tile:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}


.experience-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1; 
}

.title {
    font-size: 2em;
    margin: 0;
}


.image {
    width: 150px; /* Set a fixed width for the image */
    height: 150px; /* Set a fixed height for the image */
    margin-right: 25px; 
    border-radius: 5px;
    /* padding-right: 10px; */
    overflow: hidden;
    flex-shrink: 0; 
}

.image img {
    width: 100%; /* Ensure the image fills the container */
    height: 100%; /* Ensure the image fills the container */
    object-fit: cover; /* Preserve aspect ratio and avoid stretching */
}

.rating{
    margin-top: 7px;
    font-size: 1.2em;
}

.button-edit-container {
    display: flex;
    flex-direction: column; 
    gap:15px;
}


.button-edit-container button{
    cursor: pointer;
    height: 6m;
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 1em;
    padding: 8px 12px;
    font-weight: bold;
}

.button-edit-container .delete button {
    background-color: #cfa0a0; 
}

.button-edit-container .delete button:hover {
    background-color: #e1231f; 
}

.button-edit-container .edit button {
    background-color: #e7cfb0; 
}

.button-edit-container .edit button:hover {
    background-color: #e19c41; 
}
