
.experience-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

.experience-container .title {
    font-size: 2.6em;
    font-weight: bold;
}

.rating-container h1,
.description-container h1,
.address-container h1,
.geolocation-container h1,
.location-container h1,
.keywords-container h1 {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 10px;
    color: black;
    padding-bottom: 5px;
}

.row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.left-container,
.right-container {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    padding: 10px;
    min-width: 300px;
}

.left-container img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

.left-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.left-container {
    max-width: 40%;
}

.right-container {
    max-width: 60%;
}

.right-container .title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
    margin-bottom: 15px;
}

.description-container,
.rating-container,
.geolocation-container,
.location-container,
.address-container,
.created-on-container,
.keywords-container {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1.4rem;
}

.geolocation-input-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    width: auto;
    padding: 0;
}

.geo-item {
    flex: 0 1 45%;
    max-width: 200px;
    text-align: center;
    padding: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.geo-item h2 {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 5px;
}

.keywords-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 1.1rem;
}

.keywords-list h2 {
    padding: 5px 10px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1.8rem;
}

.right-container p {
    font-size: 1.4rem;
}

.right-button-container {
    display: flex;
    margin-top: auto;
}

.rating-container span {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 10px;
    color: black;
    padding-bottom: 5px;
}

.keywords-container .keywords-list {
    justify-content: left;
}

select {
    font-size: 1.4rem;
    padding: 5px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

select:hover {
    border-color: #ccc;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.right-button-container select {
    width: 240px;
    height: 50px;
    font-size: 1.2rem;
    border: 2px solid #d3d3d3;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.left-container button {
    width: 240px;
    height: 50px;
    font-size: 1.2rem;
    border: 2px solid #d3d3d3;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.right-button-container button {
    width: 240px;
    height: 50px;
    font-size: 1.2rem;
    border: 2px solid #d3d3d3;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.details-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
    align-items: stretch;
}

.details-column {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.map-container {
    flex: 3;
    display: flex;
    height: auto;
    align-self: stretch;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.map-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}
