
.experience-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px; /* Adjust padding for smaller screens */
    margin: 0 auto; /* Center the container */
    width: 100%; /* Ensure full width */
    box-sizing: border-box; /* Include padding in width calculation */
}


.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}
.row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Space between the two containers */
    width: 100%;
    gap: 20px;
    box-sizing: border-box; /* Ensure padding/borders are included in the width */
    overflow: hidden; /* Prevent overflow issues */
}

.left-container, .right-container {
    flex: 1 1 50%; /* Allow equal distribution and wrapping */
    max-width: 50%; /* Prevent containers from growing beyond 50% */
    box-sizing: border-box; /* Include padding and borders in width */
}
  
.left-container img {
    max-width: 100%; /* Ensure image fits within the container */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure proper cropping for images */
}

.right-container h1{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.right-container h2 {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    border: 2px solid #d3d3d3;          
    background-color: #f4f4f4;         
    padding: 10px;                      
    border-radius: 5px;                 
    color: #333;            
}

.keywords-list {
    display: flex;                
    flex-wrap: wrap;                
    gap: 10px;                    
  }

.add-to-trip-and-edit-container{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    justify-content: flex-start; 
    gap: 200px;
}

.add-to-trip-and-edit-container select{
    width: 240px; /* Set the width */
    height: 50px; 
    font-size: 1.2rem;
    border: 2px solid #d3d3d3;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    color: #333;
    text-align: center;
}  

.add-to-trip-and-edit-container button {
    height: 50px; 
    font-size: 1.2rem;
    text-align: center;
    border: 2px solid #d3d3d3;
    padding: 10px;
    border-radius: 5px;
    color: #333;
}

.edit-buttons-container {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.delete button {
    background-color: #f44336;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  .delete button:hover {
    color: rgb(255, 255, 255);
  }
