.experiences-container {
    margin: 0 250px;
    overflow-y: auto;
    padding: 30px;
    background: rgba(255, 255, 255, 0.8);
    flex-grow: 1;
}

/* Add experience button */
.add-experience-button {
    position:fixed;
    left:0px;
    top:80%;
    display: flex;
    flex-direction: column;
    padding:40px;
}

.add-experience-button button{
    height: 3em;
    font-size: 1em;
    font-weight: bold;
    background-color: #FA812F;
}
.experiences-container h1{
    position:fixed;
    left:0px;
    display: flex;
    flex-direction: column;
    padding:50px;
}


.vertical-gradient-bg {
    background: linear-gradient(to bottom, #3498db, #2ecc71); /* top-to-bottom gradient */
}