.experiences-container {
    display: flex;
    flex-direction: column;
}


.right-side-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    margin-left: 250px;
}

.experience-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.no-experience-text{
    font-size: 1.1rem;
    margin-top: 20px;
    font-style: italic;
    text-align: center;
}

/* Add experience button to the bottom of the page*/
.add-experience-button {
    position: absolute;
    bottom: 65px;          
    left: 20px;
    display: flex;
    padding: 20px;
}

.add-experience-button button{
    height: 3em;
    font-size: 1em;
    font-weight: bold;
    background-color: #FA812F;
}
