.trips-container {
    max-height: 700px;
    max-width: 1300px;
    overflow-y: auto;
    /* /* margin-top: 0px; */
    /* margin-right: 100px; */
    margin-left: 250px;
    padding: 30px;
    /* background: rgba(255, 166, 0, 0.315); */
    
}

.add-trip-button {
    position: absolute;
    bottom: 40px;          
    left: 30px;
    display: flex;
    padding: 20px;
}

.trip-page-title {
    position: absolute;
    left: 770px;
    display: flex;
    padding: 20px;
    font-size: 60px;
}


.trips-container {
    max-height: 700px;
    max-width: 1300px;
    overflow-y: auto;
    margin-top: 70px;
    margin-left: 250px;
    padding: 30px;
    position: relative;
}

.vertical-gradient-bg {
    background: linear-gradient(to bottom, #3498db, #2ecc71); /* top-to-bottom gradient */
}