.trip-page-header {
    text-align: center;
    margin: 20px auto;
}
  
.trip-page-header h1 {
    font-size: 2.5rem;
    color: #2c3e50;
    margin-bottom: 10px;
}
  
.trip-page-header .button-add {
    margin-top: 10px;
}
  
.trip-page-header .button-add:hover {
    background-color: #ffa84b;
}
  
.trips-container {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9e8d1;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}