.search-bar {
    display: flex;
    align-items: center;
    padding: 1em 2em;
    background-color: rgb(255,227,175);
    gap: 1em;
  }
  
  .search-button {
    cursor: pointer;
    height: 8em;
    width: 11em;
    background-color: rgb(255, 165, 0);
    border: none;
    transition: background-color 0.1s linear;
    font-weight: bold;
    color: black;
    font-size: 1em;
  }
  
  .search-button:hover {
    background-color: rgb(223, 145, 0);
  }
  
  .input-fields {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .field-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
  }
  
  .input-label {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.7);
  }
  
  .location-input,
  .keywords-input {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 0.5em;
    width: 100%;
    height: 2.5em;
  }
  
  .location-input::placeholder,
  .keywords-input::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }