.save-changes,
.save-trip{
    cursor: pointer;
    height: 3em;
    width: 12em;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #0ee231;
    text-align: center;
    transition: background-color 0.1s linear;
}

.save-changes.disabled,
.save-trip.disabled{
    background-color: #ccc;
    cursor: not-allowed;
    color: #f3f0f0;
}