.trip-experience-tile {
    display: flex; 
    align-items: center; 
    height: 150px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    border-radius: 20px;
    padding-right:25px;
}

.trip-experience-tile:hover {
    background-color: #d0d0d0;
    cursor: pointer;
}


.trip-experience-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1; 
    padding-right: 20px;
}

.trip-experience-details .title {
    text-align: left;
    font-size: 26px;
    margin: 0;
}

.trip-experience-rating{
    margin-top: 7px;
    font-size: 1.2em;
}
