.trip-tile {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #f9f9f9;
    transition: background-color 0.4s ease-in-out;
    position: relative;
    display: flex;
    align-items: center;
    min-height: 100px;
}

.trip-tile:hover {
    background-color: #d0d0d0;
    cursor: pointer;
}

.trip-tile h2 {
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
}

.trip-details {
    flex: 1;
}

.button-container {
    display: flex;
    gap: 10px;
    position: absolute;
    right: 15px;
}

.edit button {
  background-color: #e7cfb0;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.edit button:hover {
  color: white;
}

.delete button {
  background-color: #f44336;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.delete button:hover {
  color: rgb(255, 255, 255);
}